<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab:100,300|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "College Football Recruiting" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "vendor", "all" %>
  </head>
  <header id="global-header"><h1>labratrevenge</h1> | The Class</header>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
